@font-face {
  font-family: 'IBM Plex';
  font-style: normal;
  src: url(~assets/fonts/IBMPlexSans-Text.otf) format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'IBM Plex';
  font-style: normal;
  src: url(~assets/fonts/IBMPlexSans-Medium.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex';
  font-style: normal;
  src: url(~assets/fonts/IBMPlexMono-Bold.otf) format('opentype');
  font-weight: 700;
}

html,
body {
  font-family: 'IBM Plex', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  color: $textColor;
}
