@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  src: url(~assets/fonts/OpenSans-Regular.ttf) format('ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  src: url(~assets/fonts/OpenSans-Bold.ttf) format('ttf');
  font-weight: 600;
}

//colors
$lightweight: #f8f8f8;
$black: #000000;

*,
body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  color: $black;
}

h2 {
  font-weight: 600;
}
