<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Lost and Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="public/css/main.css" />
  </head>

  <body>
    <p>Lost and Found</p>

    <div class="linkFooter">
      <a href="./mainfloor">Main Floor</a>
      <a href="./toilets">Toilets</a>
    </div>

    <!-- Socket -->
    <script src="public/js/socket.io.js"></script>

    <!-- Client -->
    <script src="public/js/client.js"></script>
  </body>
</html>
